html,body{
	padding: 0;
	margin: 0;
	background: #111;
}
@font-face{
	font-family: MouseMemoirs;
	src: url('../fonts/MouseMemoirs-Regular.ttf')
}
@font-face{
	font-family: Carnevalee;
	src: url('../fonts/Carnevalee Freakshow.ttf')
}
@font-face{
	font-family: Valera;
	src: url('../fonts/VarelaRound-Regular.ttf')
}
@font-face{
	font-family: NewsCycle;
	src: url('../fonts/NewsCycle-Regular.ttf')
}
.abswrap{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}
.fixwrap{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
}
.clearfix{float: none;}
.redbutton{
	padding: 5px 20px;
	border-radius: 4px;
	background: rgba(150,10,10,0.7);
}
.redbutton:hover{
	background: rgba(192,0,0,0.85);
	cursor:pointer;
}
#jpreContent{
	background: #111 no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	width: 100%;
	height: 100%;
}
#preloader{
	background: #DDD no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	width: 100%;
	height: 100%;
	z-index: 20;
}
#jprePercentage{
	color: #AAA;
	left: 35%;
	font: 500% MouseMemoirs;
}
#loading{
	position: relative;
	top:70%;
	font: 40px MouseMemoirs;
	color: #222;
	text-align: center;
	cursor: pointer;
	margin-right: 22px;
}
#navbar{z-index: 5;}
#navbar ul{
	font: 135% MouseMemoirs;
	background: rgba(192, 0, 0, 0.8);
	padding: 4px;
	margin: 0;
	list-style-type: none;
}
#navbar ul li{
-webkit-transition: all 0.3s ease-out; 
   -moz-transition: all 0.3s ease-out; 
     -o-transition: all 0.3s ease-out; 
        transition: all 0.3s ease-out; 
	padding: 2px 2%;
	display: inline;
	cursor: pointer;
	color:rgba(255,255,0,0.8);	
}
#navbar ul a{
text-decoration:none;
color:white;
}
.active{
background-color: rgba(0,0,0,0.7); 
}

#navbar ul li:not(.nav-right){color: #E6DBDB;}
#navbar ul li:not(.nav-right):hover{
	background: black;
}
.nav-right{
	float: right;
	margin-top:-2px;
}
.nav-right:hover{
background:rgba(200,200,200,0.6);
}
#main{
	background: url(../img/loadingbg.jpg) #DDD no-repeat center center fixed; 
}
#content{
	margin: 30px auto 0 auto;
	width: 100%;
}
#confetti{
	position: fixed;
	width: 100%;
	height: 100%;
}
.homefoot{
	position:fixed;
	bottom:0;
	width:100%;
	height:120px;
}
.homefoot .left{background:url(../img/left.png);}
.homefoot .right{background:url(../img/right.png);}
.homefoot .side{
	font: 160% Carnevalee;
	color: #ffe4c4;
	text-align:center;
	float:left;
	width:16%;
	background-size: 100%;
	height:150px;
	padding: 2%;
}
.homefoot .side a{color:white;}
.homefoot .side a:hover{color:rgb(210,106,0);}
.homefoot .middle{
	float: left;
	height: 100%;
	width: 60%;
}
#hyper a:hover{color:rgb(210,106,0);}
.homefoot .middiv{
	font: 170% MouseMemoirs;
	color: #fff;
	text-align: center;
	width: 16%;
	float: left;
	margin: 2% 0 0 3%;
	font-size:140%;
	background: url(../img/bg1.png);
	background-size: 100% 100%;
	padding-top: 1%;
	padding-bottom: 2%;
}
.homefoot .middiv a{color:rgb(221, 193, 144);}
.homefoot .middiv a:hover{color:#DDD;}
.homefoot .caption{
	border-top: solid 1px black;
	margin-left:5%;
	position: absolute;
	bottom: 0;
	width: 50%;
	top :70%;
	text-align: center;
	font: 160% MouseMemoirs;
	color: black;
	padding-bottom: 8px;
}
#events{
	width: 100%;
	height: 95.3%;
	background: rgba(17,17,17,0.85);
}
.topic{
	cursor: pointer;
	position : absolute;
	width : 150px;
	height : 80px;
}
.topic img{height:100%;}
.topic .topic-imgdiv{width:80px;margin:0 auto;}
.topic-title{
	margin-top: -25px;
	margin-left: -10px;
	width : 180px;
	text-align : center;
	font : 160% Carnevalee;
	color : #555;
}
.topic-title:hover{
	color : rgba(0,0,0,1);
}
.about{
	text-align: center;
	background-size: 100% 80%;
	font: 150% MouseMemoirs;
	color: rgba(0,0,0,0.7);
	margin-top:8%;
	padding: 30px 200px;
	height:80%;
}
#sidebar{
	background: rgba(0,0,0,0.5);
	width: 30px;
	position: fixed;
	top: 25%;
	right:0;
	height: 300px;
	overflow: hidden;
	border-radius: 15px 0 0 15px;
  -webkit-transition: all 0.3s ease-out; 
     -moz-transition: all 0.3s ease-out; 
       -o-transition: all 0.3s ease-out; 
          transition: all 0.3s ease-out; 
    z-index: 2;
}
#sidebar:hover{
	width: 300px;
	box-shadow: rgba(0,0,0,0.7) 10px 0 10px -5px;
}
#sidebarmenu{
	position: absolute;
	top: 25%;
	font: 120% Helvetica;
	left: 8px;
	width: 20px;
	color: #CCC;
	height: 100%;
}
#sidebar ul{
	margin: 0;
	padding-left: 30px;
	width: 300px;
	position: absolute;
}
#sidebar li{
	padding: 10px 25px 10px 5px;
	font: 120% MouseMemoirs;
	color: #DDD;
	list-style-type: none;
}
#sidebar li:hover{
	background: rgba(0,0,0,0.3);
	cursor: pointer;
	color: rgb(210,106,0);
}
