#content7{
	margin:30px auto 0 auto;
	width:100%;
}
.teamtop{
	background:rgba(0,0,0,0.65);
	height:62%;
	overflow:hidden;
	position:absolute;
	width:100%;
}
.teambottom{
	background:rgba(5,2,2,0.81);
	border-bottom:solid 1px 0;
	border-top:solid 1px 0;
	height:30%;
	overflow:hidden;
	position:absolute;
	top:-moz-calc(62% + 30px);
	top:-webkit-calc(62% + 30px);
	top:calc(62% + 30px);
	width:100%;
	z-index:2;
}
.teamtop .card{
	float:left;
	font:120% MouseMemoirs;
	height:300px;
	margin-left:10%;
	position:relative;
	text-align:center;
}
.teamtop .card .cardwrap{
	padding:0px;
	width:350px;
}
.teamtop .card img{
	width:150px;
}
.teamtop .card .cardwrap .card-title{
	background-image:url('../img/bg2.png');
	background-size:100% 100%;
	bottom:0;
	color:rgba(0,0,0,1);
	color:black;
	font:150% Carnevalee;
	height:33%;
	left:10%;
	padding-left:8px;
	padding-top:20px;
	position:absolute;
	text-align:center;
	width:75%;
}
.teamtop .card .cardwrap .card-title .contact{
	color:rgba(0,0,0,0.6);
}
.teambottom .card{
	float:left;
	font:120% MouseMemoirs;
	height:100%;
	position:relative;
	text-align:center;
	width:25%;
}
.teambottom .card .cardwrap{ 
	color:rgba(230,230,230,0.6);
	padding-top:20px; 
}
.teambottom .card .cardwrap .subtitle{ 
	color:rgba(187,171,89,0.85);
}
.teambottom .card .card-title{
	color:rgba(196,140,57,0.8);
	font:150% Carnevalee;
	padding:8px;
}
#footer{
	background: #050207;
	bottom: 0;
	font: 140% MouseMemoirs;
	height: 4%;
	margin: 0 auto;
	position: absolute;
	width: 100%;
}
#footer a{
	color: #4E4E4E;
	padding: 0 20px;
	text-decoration:none;
}
#footer a:hover{
	color: #7E7E7E;
}
.sidebar{
   -moz-background-size:100% 100%;
     -o-background-size:100% 100%;
-webkit-background-size:100% 100%;
	background:url(../img/sidebarbg.png) repeat-y;
        background-size:100% 100%;
	float:left;
	height:100%;
	overflow:hidden;
	position:absolute;
	width:20%;
	z-index:1;
}
.sidebar ul{
	margin-left:-25%;
	margin-top:20px;
	padding:0;
}
.sidebar li{
	font:160% MouseMemoirs;
	list-style-type:none;
	padding:10px;
	text-align:center;
}
.sidebar li:hover{
	color:#751E02;
	cursor:pointer;
}
.evt-sel{
	color:#751E02;
}
#abst_hyper {
	color:white;
	text-decoration:none;
}
#abst_hyper a:hover{
	color:red;
}
.details{
	height: 100%;
	margin-left: 15%;
	overflow: auto;
	padding: 100px 0;
	position: absolute;
	width: 85%;
}
#details_table a{
	text-decoration:none;
}
#details_table td {
	color:white;
	font-family:Corbel;
	padding-left:50px;
}
.details .abst{
	color:white;
	font:120% Varela;
	line-height:27px;
	margin-top:-3%;
	padding:80px;
	line-spacing:4px;
}
.details .imgdiv{
	margin-top:0%;
	max-height:500px;
	overflow:hidden;
	width:100%;
}
.details .img{width:100%;}
.details .title {
	color:rgb(236,220,136);
	font:250% Carnevalee;
	padding-top:5x;
	text-align:center;
}
#sponsors{margin:50px;}
#sponsors img{
	background:#FFF;
	border-radius:6px;
	box-shadow:rgba(0,0,0,0.5) 0 0 15px 2px;
	margin:2%;
	max-height:20%;
	padding:0px;
	width:18%;
}