@import url(http://fonts.googleapis.com/css?family=Mouse+Memoirs);
html,body{
	padding: 0;
	margin: 0;
	background: #111;
}
@font-face{
	font-family: NewsCycle;
	src: url('../fonts/NewsCycle-Regular.ttf')
}
@font-face{
	font-family: Carnevalee;
	src: url('../fonts/Carnevalee Freakshow.ttf')
}
a{text-decoration:none;}

.active{
background-color: rgba(0,0,0,0.7); 
}
.abswrap{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}
.fixwrap{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
}
.clearfix{float: none;}
#navbar{
	position: relative;
	z-index: 5;
}
#navbar ul{
	font: 135% 'Mouse Memoirs';
	background: rgba(192, 0, 0, 0.8);
	padding: 4px;
	margin: 0;
	list-style-type: none;
}
#navbar ul li{
-webkit-transition: all 0.3s ease-out; 
   -moz-transition: all 0.3s ease-out; 
     -o-transition: all 0.3s ease-out; 
        transition: all 0.3s ease-out; 
	padding: 2px 2%;
	display: inline;
	cursor: pointer;
	color:rgba(255,255,0,0.8);	
}
#navbar ul li:not(.nav-right){color: #E6DBDB;}
#navbar ul li:not(.nav-right):hover{
	background: black;
}
.nav-right{
	float: right;
	margin-top:-2px;
}
.nav-right:hover{
background:rgba(200,200,200,0.6);
}
#main{
	background: url(../img/loadingbg.jpg) #DDD no-repeat center center fixed; 
}
#content{
	margin: 0 auto;
	width: 100%;
}
#events{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(17,17,17,0.85);
	overflow: hidden;
}
.sidebar{
   -moz-background-size:100% 100%;
     -o-background-size:100% 100%;
-webkit-background-size:100% 100%;
	background:url(../img/sidebarbg.png) repeat-y;
        background-size:100% 100%;
	float:left;
	height:100%;
	overflow:hidden;
	position:absolute;
	width:20%;
	z-index:1;
}
.sidebar ul{
	margin-left:-25%;
	margin-top:20px;
	padding:0;
}
.sidebar li{
	font:140% 'Mouse Memoirs';
	list-style-type:none;
	padding:10px;
	text-align:center;
}
.sidebar li:hover{
	color:#751E02;
	cursor:pointer;
}
.evt-sel{
	color:#751E02;
}
#abst_hyper {
	text-decoration:none;
	color:white;
}
#abst_hyper a:hover{
	color:red;
}
.details{
	color:white;
	width: 85%;
	height: 100%;
	z-index:0;
	overflow: auto;
	margin-left:15%;
	position:absolute;
}
#details_table a{
	text-decoration:none;
}
#details_table td {
	padding-left:50px;
	font-family: Corbel;
	color:white;
}
.details .abst{
	margin-top:-3%;
	color:white;
	line-spacing:4px;
	font: 130% NewsCycle;
	padding: 80px;
	line-height: 27px;
}
.details .imgdiv{
	margin-top:0%;
	width:100%;
	max-height: 500px;
	overflow: hidden;
}
.details .img{width:100%; }
.details .title {
	font: 250% Carnevalee;
	text-align: center;
	color: rgb(236, 220, 136);
	padding-top: 5x;
}
.floating {
    float: left;
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
@-webkit-keyframes Floatingx {
    from {
        -webkit-transform:translate(0, 0px);
    }
    65% {
        -webkit-transform:translate(0, 15px);
    }
    to {
        -webkit-transform: translate(0, -0px);
    }
}
@-moz-keyframes Floating {
    from {
        -moz-transform:translate(0, 0px);
    }
    65% {
        -moz-transform:translate(0, 15px);
    }
    to {
        -moz-transform: translate(0, -0px);
    }
}
