#content6{
	margin: 30px auto 0 auto;
	width: 100%;
}
#social{
	background: url('../img/marathon.png') no-repeat center center fixed; 
	width: 100%;
	height: 100%;
-webkit-background-size: 100%;
   -moz-background-size: 100%;
     -o-background-size: 100%;
        background-size: 100%;
}
#social-title{
	font: 200% Impact;
	color: #32350A;
	padding: 30px 80px;
}