.act:hover{color:red;}
a{color:blue;}
a:hover{color:red;}
h1{line-height:30px;}
h2{line-height:25px;}
.bor {border: solid 1px red;}

.container > section {
	margin: 0 auto;
	padding: 10em 3em;
	text-align: center;
	width:auto;
	height:50px;
}

.color-4 {
	background:white;
}

.color-11 {
	background: #aab7b7;
}
